<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" th:href="@{/css/board/csboard/question.css}">

</head>
<body>

    <main>

        <section class="section-container">

            <section class="question-area">



                <section class="section-first">
                    <p class="section-top">고객님 무엇을 도와드릴까요?</p>
        
                </section>
        
        
                <section class="section-second">

                    <p>자주 묻는 질문</p>

        
        
                </section>
                
                
                <section class="tap-menu">
                
                    <button id="type" class="type-btn" data-tab="tab1">공연</button>
                    <button class="type-btn" data-tab="tab2">전시</button>
                    <button class="type-btn" data-tab="tab3">예약</button>
                    <button class="type-btn" data-tab="tab4">이용편의</button>
                        
                </section>
                
                <section class="typebox">

                    <section  class="tab-content">

                        <span class="typebox-in active tab1" data-con="con1">
    
                            <span class="search-box">
                                <img class="search" th:src="@{/images/board/csboard/search.png}">
        
                            </span>
                            <span class="type-input">
                                
                                <label class="type1" for="typea">type</label>
                                <input id="typea" class="tt" type="checkbox">
        
                            </span>
    
                        </span>
                        <div class="question-content con1">ddddddddddddddddddddd</div>

                    </section>
                    <section  class="tab-content">

                        <span class="typebox-in active tab1" data-con="con2">
    
                            <span class="search-box">
                                <img class="search" th:src="@{/images/board/csboard/search.png}">
        
                            </span>
                            <span class="type-input">
                                
                                <label class="type1" for="typeb">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</label>
                                <input id="typeb" class="tt" type="checkbox">
        
                            </span>
    
                        </span>
                        <div class="question-content con2">ddddddddddddddddddddd</div>

                    </section>

                    <section class="tab-content">

                        <span class="typebox-in tab2" data-con="con3">
    
                                <span class="search-box">
                                    <img class="search" th:src="@{/images/board/csboard/search.png}">
            
                                </span>
                                <span>
                                    
                                    <label class="type1" for="typec">type</label>
                                    <input id="typec" class="tt" type="checkbox">
    
                                </span>
                                
                        </span>
                        <div class="question-content con3">ddddddddddddddddddddd</div>

                    </section>
                    

                    
                    
        
                </section>
                
                
                <section>
        
        
                </section>
                
                
                <section class="help">

                    <p>다른 도움이 필요하신가요?</p>
        
        
                </section>


                <section>
                
                    <a th:href="@{onequestion}">
                    
                        <button id="one-question">
                        
                            <img th:src="@{/images/board/csboard/quest.png}" class="quest-img">

                            <div class="q-text">

                                <span class="tex-a">                                    
                                    1:1문의 하기
                                </span>
                                    
                                <span class="tex">
                                    더 자세한 문의를 할 수 있어요!
                                </span>
                            </div>
                        
                        </button>
                    </a>


                </section>


                <section>
                
                    <a th:href="@{/board/{communityCode}/questionList/{qCode}(communityCode=${communityCode}, qCode=${qCode})}">

                        <button id="question-confirm">
                            
                            <img th:src="@{/images/board/csboard/write.png}" class="quest-img">
    
                            <div class="c-text">
                                <span class="tex-d">
                                    내 문의내역 보기
                                </span>
                                
                                <span class="tex-c">
                                    문의한 내용을 확인해보세요
                                </span>
                            </div>
                            
                        </button>


                    </a>



                </section>


                
            </section>



        </section>



    </main>


    <script th:src="@{/js/board/csboard/question.js}"></script>
    
</body>
</html>